<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Soundboard.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3F0471971E9E8BE900002A40</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F0471AB1E9E8BEA00002A40</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F0471B61E9E8BEA00002A40</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
